:root { /*pseudo clase para la declaracion global de los colores que se van a usar para la página*/
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #b6b6b6;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to bottom, var(--blanco)0%, var(--grisClaro)100%);
} /*esto es para garantizar la uniformidad al mostrar la pagina en diferentes navegadores*/



/*El punto se pone para llamar o hacer referencia a clases, al llamar a etiquetas no se pone el punto|*/
/*tipografia*/
h1,h2,h3{
    text-align: center;
}
h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

.title span{
    font-size: 2rem;
}



.navegacion-principal{
    /*background-color: var(--secundario);*/
    /*margin es por fuera, padding es por dentro*/
    display: flex; /* Flexbox esta diseñado para alinear elementos en tus diseños*/
    /*justify-content alinea texto para FILAS /// align-items es para columnas (en estos casos se recomienda usar flex-direction)*/
    justify-content: space-between;
    font-weight: bold; /*para poner negritas*/
    font-size: 2rem; 
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
    }
 
}

.navegacion-principal a:hover{ /*al poner el cursor en los vinculos de la barra de navegacion*/
    background-color: var(--primario);
    color: var(--oscuro);
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none; /*remueve el estilo subrayado en el texto*/
    padding: 1rem;

}

.contenedor{
    max-width: 120rem;
    margin: 0 auto; /*0 se refiere al eje vertical (top y bottom) y auto al horizontal (left, right)*/
}

.nav-bg{
    background-color: var(--secundario);
}
.hero{
    background-image: url(../img/hero.jpg); /*../ es para navegar por los directorios, es para regresar un nivel*/
    background-repeat: no-repeat;/*Sirve para que no se haga un mosaico con las imagenes, si no que la estire*/
    background-size: cover; /*que cubra el tamaño de el contenedor con la imagen de la forma que pueda, estirando la imagen*/
    height: 450px; /*alto del elemento hero*/
    position: relative;/*Para manipular la posicion de algo, el padre siempre debe ser relativo */
}

.contenido-hero{
    position: absolute;/*Para manipular la posicion de algo, el padre siempre debe ser absoluto */
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    /*alinear vertical y horizontalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*color: var(--blanco);*/
}

.contenido-hero p,
.contenido-hero h2{
    color: var(--blanco)
}


.boton{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: var(--secundario);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
    text-transform: uppercase;
    width: 90%;
}

@media (min-width: 768px){
    .boton{
        width: auto;
    }
 
}

.icono-texto{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}
